API_GATEWAY_PORT=
USERS_PORT=
BOOKS_PORT=

# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_DB=

# Keycloak DB
KC_DB_USER=
KC_DB_PASSWORD=
KC_DB_NAME=
KC_DB_PORT=

# Redis
REDIS_HOST=
REDIS_PORT=

# Pg-admin
PGADMIN_EMAIL=
PGADMIN_PASSWORD=

# Keycloak
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_PORT=
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_REDIRECT_URI=
KEYCLOAK_SCOPE=
KEYCLOAK_AUTH_URI=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_REGISTRATION_URI=
KEYCLOAK_LOGOUT_URI=
KEYCLOAK_TOKEN_URI=
KEYCLOAK_JWKS_URI=